GoCheeta_Client/src/wsdl/localhost_6060/GoCheeta_Server/DriverWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://gocheeta/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gocheeta/">

<xs:element name="addDriver" type="tns:addDriver"/>

<xs:element name="addDriverResponse" type="tns:addDriverResponse"/>

<xs:element name="getActiveBookingDetails" type="tns:getActiveBookingDetails"/>

<xs:element name="getActiveBookingDetailsResponse" type="tns:getActiveBookingDetailsResponse"/>

<xs:element name="getBranchDrop" type="tns:getBranchDrop"/>

<xs:element name="getBranchDropResponse" type="tns:getBranchDropResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriver">
<xs:sequence>
<xs:element name="driver_mobile" type="xs:int"/>
<xs:element name="d_email" type="xs:string" minOccurs="0"/>
<xs:element name="d_name" type="xs:string" minOccurs="0"/>
<xs:element name="d_password" type="xs:string" minOccurs="0"/>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="time_type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBranchDrop">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBranchDropResponse">
<xs:sequence>
<xs:element name="return" type="tns:branch" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="branch">
<xs:sequence>
<xs:element name="b_name" type="xs:string" minOccurs="0"/>
<xs:element name="branch_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActiveBookingDetails">
<xs:sequence>
<xs:element name="vehicle_no" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getActiveBookingDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:person">
<xs:sequence>
<xs:element name="area_branch" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="distance" type="xs:string" minOccurs="0"/>
<xs:element name="driver_mobile" type="xs:string" minOccurs="0"/>
<xs:element name="drop_loction" type="xs:string" minOccurs="0"/>
<xs:element name="feedback_id" type="xs:int"/>
<xs:element name="option" type="xs:string" minOccurs="0"/>
<xs:element name="order_Id" type="xs:int"/>
<xs:element name="order_email" type="xs:string" minOccurs="0"/>
<xs:element name="pick_location" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
<xs:element name="v_type" type="xs:string" minOccurs="0"/>
<xs:element name="vehicle_no" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>