GoCheeta_Client/src/wsdl/localhost_6060/GoCheeta_Server/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gocheeta/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gocheeta/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://gocheeta/" schemaLocation="http://localhost:6060/GoCheeta_Server/UserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllVehicle">
<part name="parameters" element="tns:getAllVehicle"/>
</message>
<message name="getAllVehicleResponse">
<part name="parameters" element="tns:getAllVehicleResponse"/>
</message>
<message name="loginAdmin">
<part name="parameters" element="tns:loginAdmin"/>
</message>
<message name="loginAdminResponse">
<part name="parameters" element="tns:loginAdminResponse"/>
</message>
<message name="loginCustomer">
<part name="parameters" element="tns:loginCustomer"/>
</message>
<message name="loginCustomerResponse">
<part name="parameters" element="tns:loginCustomerResponse"/>
</message>
<message name="getViewUsersBooks">
<part name="parameters" element="tns:getViewUsersBooks"/>
</message>
<message name="getViewUsersBooksResponse">
<part name="parameters" element="tns:getViewUsersBooksResponse"/>
</message>
<portType name="UserWebService">
<operation name="hello">
<input wsam:Action="http://gocheeta/UserWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://gocheeta/UserWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllVehicle">
<input wsam:Action="http://gocheeta/UserWebService/getAllVehicleRequest" message="tns:getAllVehicle"/>
<output wsam:Action="http://gocheeta/UserWebService/getAllVehicleResponse" message="tns:getAllVehicleResponse"/>
</operation>
<operation name="loginAdmin">
<input wsam:Action="http://gocheeta/UserWebService/loginAdminRequest" message="tns:loginAdmin"/>
<output wsam:Action="http://gocheeta/UserWebService/loginAdminResponse" message="tns:loginAdminResponse"/>
</operation>
<operation name="loginCustomer">
<input wsam:Action="http://gocheeta/UserWebService/loginCustomerRequest" message="tns:loginCustomer"/>
<output wsam:Action="http://gocheeta/UserWebService/loginCustomerResponse" message="tns:loginCustomerResponse"/>
</operation>
<operation name="getViewUsersBooks">
<input wsam:Action="http://gocheeta/UserWebService/getViewUsersBooksRequest" message="tns:getViewUsersBooks"/>
<output wsam:Action="http://gocheeta/UserWebService/getViewUsersBooksResponse" message="tns:getViewUsersBooksResponse"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getViewUsersBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://localhost:6060/GoCheeta_Server/UserWebService"/>
</port>
</service>
</definitions>